/* .cards {
  position: absolute;
  bottom: 1em;
  min-width: 90%;
  min-height: 120px;
  background: rgb(108, 14, 14);
  border-radius: 10px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 10px 40px -25px rgba(100, 100, 100, 0.5);
}

.tops {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-end: 0.5rem;
}

.pfps {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1 {
  color: white;
  font-size: 1.25rem;
  font-weight: 900;
}

.title-2 {
  color: white;
  font-size: 0.75rem;
  opacity: 0.8;
}

.song-time {
  width: 100%;
  margin-inline: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.time {
  width: 90%;
  background-color: #5e5e5e;
  height: 0.35rem;
  border-radius: 3px;
}

.elapsed {
  width: 42%;
  background-color: #1db954;
  height: 100%;
  border-radius: 3px;
}

.controls {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.volume {
  height: 100%;
  width: 48px;
}

.air {
  height: 100%;
  width: 48px;
}

.controls svg {
  cursor: pointer;
  transition: 0.1s;
}

.controls svg:hover {
  color: #1db954;
}

.controls .heart:hover {
  color: pink;
}

.volume {
  opacity: 0;
  position: relative;
  transition: 0.2s;
}

.volume .slider {
  height: 4px;
  background-color: #5e5e5e;
  width: 80%;
  border-radius: 2px;
  margin-left: 0.3rem;
}

.volume .slider .green {
  background-color: #1db954;
  height: 100%;
  width: 80%;
  border-radius: 3px;
}

.volume .circle {
  background-color: white;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.volume_button:hover ~ .volume {
  opacity: 1;
}

.timetext {
  color: white;
}

.time_now {
  font-size: 0.8rem;
  background-color: #00000060;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-blend-mode: multiply;
}

.time_full {
  font-size: 0.8rem;
  background-color: #00000060;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-blend-mode: multiply;
}

.playing {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1px;
  width: 30px;
  height: 20px;
}

.greenline {
  background-color: #1db954;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}

.line-1 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.2s;
}

.line-2 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.5s;
}

.line-3 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.6s;
}

.line-4 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0s;
}

.line-5 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.4s;
}

@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }

  33% {
    transform: scaleY(0.6);
  }

  66% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.1);
  }
} */
